html {
    box-sizing: border-box;
}
  
*,
*::before,
*::after {
box-sizing: inherit;
}

h1{
    margin:0;
    margin-bottom: 20px;
    padding:0;
    text-align: center;
}

ul{
    list-style: none;
    padding:0;
    margin: 0;
}

body{
    background-color: lightyellow;
}

.container{
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    margin: 0 auto;
}

@media screen and (min-width: 480px) {
    .container {
      width: 480px;
    }
  }
  
  @media screen and (min-width: 768px) {
    .container {
      width: 768px;
    }
  }
  
  @media screen and (min-width: 1200px) {
    .container {
      width: 1200px;
    }
}


.form-wrapper{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}



.form-input{
    height: 30px;
    width: 200px;
    padding-left: 6px;
    border: 1px solid grey;
}

.favorites-button{
    position: absolute;
    top: 1%;
    right: 0;
}

.button{
    width: 150px;
    height: 30px;
    padding: 2px;
    border: 1px solid grey;
    border-radius: 10px;
}

.form-submitter{
    width: 44px;
}

.list-wrapper{
    margin: 0 auto;
}

.query-wrapper{
    display: none;
}


.query-wrapper.is-visible{
   display: block;
   width: 200px;
   box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
   background-color: #f1f1f1;
   margin-bottom: 15px;
}

.query-list{
    width: 200px;

}

.query-item{
    padding: 12px 16px;
    cursor: pointer;
}

.query-item:hover{
    background-color: lightgrey;
}


.list-item, .item-wrapper{
    display: flex;
    justify-content: space-between;
}

.list-item{
    border: 1px solid grey;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
}

.list{
    list-style: none;
}

.text-wrapper{
    width: 80%;
}

.notification,.error-message{
    text-align: center;
}

.page-wrapper{
    width: 250px;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    align-items: flex-start;
}

.notification{
    display: none;
}

.notification.is-visible{
    display:block;
    color:red;
    font-size:12px;
    position: absolute;
    top: -7px;
    left: 6px;
    background-color: white;
}

.text-not-found{
    text-align: center;
}